*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(image/Background/background\ 1.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

.navbar{
width: 86%;
display: flex;
margin: auto;
padding: 15px 0;
align-items: center;
justify-content: space-between;
}

.navbar .logo{
    width: 180px;
    cursor: pointer;
    margin-top: -1.8%;
    margin-bottom: -2%;
}

ul{
    margin-top: 2%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-top: -3px;
}

ul li a:hover{
    color: rgb(255, 192, 3);
}

.info{
    margin-left: 7%;
    margin-top: 6%;
}

.info h1{
    font-size: 45px;
    color: rgb(14, 9, 0);
}

.info h3, p {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 24px;
}

span {
    color: rgb(255, 192, 3);
}

.info .btn{
    text-decoration: none;
    color: #000;
    background: rgb(255, 192, 3);
    margin: 26px 0;
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    display: inline-block;
    transition: .2s ease;
}

.info .btn:hover{
    background: #000;
    color: rgb(255, 192, 3);
}

.image{
    width: 30%;
    height: 55%;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-50%);
    bottom: 0;
    transition: left 2s ease;
}

.image:hover .me{
left: 55%;
}

.icons a{
    text-decoration: none;
    color: #000;
}

.icons ion-icon{
    margin-left: 7%;
    color: #000;
    margin-right: -60px;
    font-size: 40px;
    transition: .4s ease;
}

.icons ion-icon:hover{
    color: rgb(255, 192, 3);
}

.about-me{
    font-family: sans-serif;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    position:absolute;
}

.about{
    font-size: 45px;
    font-weight: 700;
    color: rgb(14, 9, 0);
    margin: 15%;
}

.content{
   font-size: 18px;
    letter-spacing: 2px;
    line-height: 24px;
}

.about-image{
    width: 30%;
    height: 30%;
    position: absolute;
    right: 170px;
}

#project-cont{
    background-color: rgb(255, 192, 3);
}

.my-projects{
    margin-top: 500px;
    text-align: center;
    justify-content: center;
}

.projects{
  font-weight: 700;
  font-size: 45px;
  color: rgb(14, 9, 0);
  padding: 30px;
}

.my-works{
    padding: 15px;
}

.design{
    font-weight: 600;
    font-size: 30px;
    margin: 0 10PX 0 10px;
}

.project-image{
    grid-template-columns: repeat(5,auto);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px 100px 20px 100px;
}

.project-img{
    width: 100%;
    min-height: 200px;
}

.project-imageS{
    grid-template-columns: repeat(3,auto);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px 100px 20px 100px;
}

.project-imageB{
    grid-template-columns: repeat(1,auto);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px 100px 20px 100px;
    gap: 5px;
}

.project-imageC{
    grid-template-columns: repeat(3,auto);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px 100px 20px 100px;
}

.project-imageP{
    grid-template-columns: repeat(2,auto);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px 100px 20px 100px;
}

.project-imageBC{
    grid-template-columns: repeat(4,auto);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px 100px 20px 100px;
}

.contact-form{
  display: grid;
  grid-template-columns: 453px 550px;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.contact-me{
    font-size: 45px;
    font-weight: 700;
    color: rgb(14, 9, 0);
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}

.intro {
  font-weight: 500;
  font-size: 30px;
  align-items: center;
  text-align: center;
  line-height: 52px;
  margin-left: 20px;
  margin-right: 20px;
  color: #000;
  margin-bottom: 100px;
  transition: 500ms ease;
}

.intro:hover {
  transform: scale(1.1);
  transition: 500ms ease;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#name,
#email,
#message {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(255, 192, 3);
  border-radius: 4px;
  height: 48px;
  margin-bottom: 20px;
}

#message {
  height: 114px;
  border: 1px solid rgb(255, 192, 3);
}

.form-container p {
  color: #000;
  font-size: 15px;
  font-weight: 200;
  margin-top: 5px;
}

.form .submit-btn{
    text-decoration: none;
    color: #000;
    background: rgb(255, 192, 3);
    margin: 26px 0;
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    display: inline-block;
    transition: .2s ease;
}

.form .submit-btn:hover{
    background: #000;
    color: rgb(255, 192, 3);
}

.back {
    
  text-decoration: none;
  color: #000;
  font-size: 20px; 
}

.footer{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 192, 3);
    padding: 10px;
}

.footer-icons ion-icon{
    color: #000;
    font-size: 25px;
    transition: .4s ease;
}

.footer-icons ion-icon:hover{
    color: rgb(255, 192, 3);
}